.intro-bg{
	background: url("images/intro.jpg");
	background-size: cover;
	height: 667px;
}

.intro-txt{
	margin-top: 370px;
	font-family: monospace;
}

.intro-txt h1{
	font-weight: bold;
	font-size: 55px;
}

.intro-txt h2{
	font-size: 30px;
	color: rgb(217, 156, 91);
}

.arrow{
	font-size: 50px;
	margin-top: 50px;
}

.arrow a{
	color: rgb(250, 214, 40);
}

#about{
	background-color: black;
	padding: 50px 0px 50px 0px;
}

.titles{
	color: #C6C3C5;
}

.titles h3{
	font-size: 25px;
	font-family: serif;
}

.titles span{
	background: #8C868A;
	height: 1px;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

.sub-section{
	color: white;
	margin-top: 55px;
}

.sub-section p{
	font-style: italic;
}

#skills{
	padding: 50px 0px 50px 0px;
}

.skills-bg{
	background: url("images/skill.png");
	background-size: cover;
	height: 667px;
}

.skill-col h4{
	color: rgb(217, 156, 91);
	font-weight: bolder;
}

#contact{
	background-color: black;
	padding: 50px 0px 50px 0px;
	color: white;
}

.contact-details{
	margin: 50px 0px 0px 150px;
	font-family: monospace;

}

.contact-icon{
	font-size: 20px;
}

.pic{
	float: right;
	margin: 20px 150px;
}

.quote-bg{
	background: url("images/quote1.png");
	background-size: cover;
	height: 300px;
}

.quote-block{
	margin: 50px 0px 0px 100px;
	font-size: 40px;
}

.quote-block p{
	color: black;
}

.quote-block footer{
	color: rgb(130, 53, 40);
}

/* PIE CHART STYLES */
.chart {
    position: relative;
    display: inline-block;
    width: 200px; 
    height: 200px; 
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    line-height: 200px; 
    z-index: 2;
    font-size: 2em;
    color: white;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 1em;
    color: white;
}